<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
<!-- Login Section -->
    <img class="img-responsive" src="/images/banner.png" alt="banner"/>
    <div class="container">
        <div class="row ">
            <div class="main-center ">
                <div class="bg-danger" th:if="${param.error}">
                    Nom utilisateur ou/et mot de passe invalide
                </div>
                <div class="bg-danger" th:if="${param.logout}">
                    Vous avez été deconnecté(e)
                </div>
                <form class="form-signin" th:action="@{/index}" method="post">
                    <h2 class="form-signin-heading">Veuillez vous connecter</h2>
                    <div class="form-group">
                        <label for="username" class="sr-only">Nom Utilisateur</label>
                        <input type="text" roleId="username" class="form-control" placeholder="Nom Utilisateur" name="username"
                               id="username"
                               required="required" autofocus="autofocus"/>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Mot de passe</label>
                        <input type="password" roleId="inputPassword" class="form-control" placeholder="Mot de passe"
                               id="password"
                               name="password" required="required"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me"/> &nbsp; Se rappeler de moi
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
                </form>

                <hr />

                <div class="form-group ">
                    <a type="submit" class="btn btn-info btn-lg btn-block login-button" th:href="@{/signup}">Creer un compte !</a>
                </div>
            </div>
        </div>
    </div>
<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
